<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>机票预定系统</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <form @submit.prevent="login" id='login'>
        用户名：<input type="text" name="username" v-model='username'>{{username}}<br />
        密&nbsp;&nbsp;&nbsp;码：<input type="text" name="password" v-model='password'>
        <input type="submit" value="登录">
    </form>
    <div align="right">
        <a href="axios_signup.html">注册</a>
    </div>

    <form action="queryTickets" method="post">
        出发地：<input type="text" name="departure"><br />
        目的地：<input type="text" name="destination"><br />
        日期：<input type="date" name="airDate"><br />
        <input type="submit" name="查询">
    </form>
</body>
<script type="text/javascript">
    new Vue({
        el: "#login",
        data: {
            username: null,
            password: null
        },
        mounted() {
            axios.post('axios_login', null)
                .then(
                    response => (this.callback(response))
                )
                .catch(
                    error => (console.log(error))
                )

        },
        methods: {
            callback(response) {
                if (response.data != '') {
                    if (response.data == "false") {
                        alert("用户名或密码错误！");
                    } else {
                        document.getElementById("login").innerHTML = response.data + '<a href="/airTicketsSystem/logoff">注销</a>';
                    }
                }
            },
            login() {
                console.log(this.username);
                if (!this.username || !this.password) {
                    alert("username or password is empty!");
                } else {
                    axios.post('axios_login', {
                        username: this.username,
                        password: this.password
                    })
                        .then(
                            response => (this.callback(response))
                        )
                        .catch(
                            error => (console.log(error))
                        )
                }
            }
        }
    })
</script>

</html>