<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>cn.cuit.filter.encodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>axios_login</servlet-name>
		<servlet-class>cn.cuit.controller.axios_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>axios_login</servlet-name>
		<url-pattern>/axios_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logoffServlet</servlet-name>
		<servlet-class>cn.cuit.controller.logoffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoffServlet</servlet-name>
		<url-pattern>/logoff</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>axios_signup</servlet-name>
		<servlet-class>cn.cuit.service.axios_signup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>axios_signup</servlet-name>
		<url-pattern>/axios_signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>queryTicketsServlet</servlet-name>
		<servlet-class>cn.cuit.service.queryTicketsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>queryTicketsServlet</servlet-name>
		<url-pattern>/queryTickets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookTicketServlet</servlet-name>
		<servlet-class>cn.cuit.service.bookTicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookTicketServlet</servlet-name>
		<url-pattern>/bookTicket</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>refundServlet</servlet-name>
		<servlet-class>cn.cuit.service.refundServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>refundServlet</servlet-name>
		<url-pattern>/refundTickets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>queryOrdersServlet</servlet-name>
		<servlet-class>cn.cuit.service.queryOrdersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>queryOrdersServlet</servlet-name>
		<url-pattern>/queryOrders</url-pattern>
	</servlet-mapping>
</web-app>